/* スマホ向けレイアウト */
@media (max-width: 1130px) {
  .lesson {
    width: 100%;
  }

  footer {
    text-align: center;
  }

  .header-right{
    display : none ;
  }

  .menu-icon{
    display : block;
  }

  /* .btnのwidthを100%に指定してください */
  .btn{
    width : 100%;
  }

  /* .facebookにmargin-bottom: 10px;を追加してください */
  .facebook{
    margin-bottom : 10px;
  }

  /* .top-wrapperの中身を左寄せに、padding-topを130pxに指定してください */
  .top-wrapper{
    text-align : center;
    padding-top : 130px;
  }

  /* 「.top-wrapper h1」のfont-sizeを24pxに指定 */
  .top-wrapper h1{
    font-size : 24px;

  }

  /* 「.top-wrapper p」のfont-sizeを14pxに指定 */
  .top-wrapper p{
    font-size : 14px
  }

  .lessons{
    padding :auto;
  }

  .lesson-icon{
    padding-bottom:20px;
  }

  .faq-wrapper {
    background-color: #e6ecf0;
    text-align: center;
    padding: auto;
    color: #5f5d60;
  }

  #faq-list{
    width : 100%;
  }

  .message-wrapper h2{
    font-size: 20px;
  }
}
/* タブレット向けレイアウト
@media all and (max-width: 1200px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  footer {
    text-align: center;
  }

  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }
}
*/
